@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:any-link {
  @apply text-lg;
}
.header {
  @apply px-8 py-5 bg-slate-800;
}
.headerTitle {
  @apply text-2xl font-serif font-bold text-slate-200;
}
.headerSubTitle {
  @apply text-xs px-4;
}
.mainFrame {
  @apply mx-44 mb-8 font-mono bg-white text-slate-900;
}
.mainTitle {
  @apply py-5 px-4 my-4 font-bold text-2xl border-s-8;
}
span.image-100 {
  font-size: 10vw;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}